/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: #fafafd;
  min-width: 576px;
}
